@import url("fonts.css") all;
@import url("reset.css") all;
@import url("font-awesome.min.css") all;

.centr-position{
    width: 1170px;
    margin: 0 auto;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.wrap-cont{
    flex-wrap: wrap;
}
.centr{
    margin: 0 auto;
}
.title{
    font-family: "Gotham Black";
    font-size: 30px;
    line-height: 22px;    
    letter-spacing: -0.75px;
    text-transform: uppercase;
    
    padding-bottom: 5px;
}


.header{
    padding: 30px 0;
}
.logo{
    width:362px;
}
.menu-link{
    text-decoration: none;
    font-family: "Lato";
    font-size: 13.5px;
    text-transform: uppercase;
    color: #868686;
    display: block;
    padding:11px 19px;
    text-align: center;
}
.menu-nav li:last-child .menu-link{
    padding-right: 16px;
    padding-left: 16px
}
.menu-link:hover{
    color:#ffffff;
    background-color: #ffbb42;
    border-radius: 1px;
}
.menu-nav{
    justify-content:space-between;
    flex-grow: 10;
    width: 807px;
}

.banner{
    background-image: linear-gradient(to bottom, #709dca 70%, #ffffff 30%);
    height: 790px;
    text-align: center;
}
.banner-title{
    padding-top: 111px;
    font-size: 35px;
    line-height: 24px;
    color: #ffffff;
}
.banner-text{
    color:#ffffff;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Open Sans Light';
}

.requesta-quote{
    margin-top: 37px;
    justify-content:center;
}

.submit-rec{
    border-radius: 2px;
    width: 211px;
    text-transform: uppercase;
    height: 46px;
    background-color: #ffbb42;
    border: 0;
    color: #ffffff;
    font-family: 'Open Sans';
    border-radius: 2px;
    cursor: pointer;
}
input::placeholder {
    color:#a9a9a9;
    text-align: left; 
    font-size: 13px;   
 }
.inp-rec{
    width: 281px;
    color: #6e6e6e;
    background-color: #ffffff;
    outline: none; 
    border: 0;
    margin: 0;
    font-family: 'Open Sans';
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}


.icon-i{ 
    font-family: "FontAwesome-Webfont";
    color: #6e6e6e;
    font-size: 16px;
  
    width: 20px;
    background-color: #ffffff;
    display: block;   
    padding: 15px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;     
}
.input-block{
    display: flex; 
    margin-right: 10px;   
    border-radius: 4px;    
}

 
.img-block-laptop{
    position: relative;
    margin-top: 66px;    
}
.img-laptop{
    display: block;
    margin: 0 auto;
}
.img-on-laptop{
    position: absolute;
    top:18px;
    left:364px;    
}
.ellipse{
    margin-top: 22px;
}

.header-services{   
    color: #394b50;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}
.title-services{  
    font-weight: 900;
}
.text-services{
    font-family: "Open Sans";
}
.content-services{
    margin-top: 88px;
}

.block-services{
    margin-right: 50px;
    margin-bottom: 78px;
}
.indent{
    margin-right: -60px;
    margin-bottom: 87px;
}
.icon-content{
    font-family: 'FontAwesome-Webfont';
    font-size: 50px;
    line-height: 22px;
    width:83px;
   
    color: #ffffff;
    -webkit-text-stroke: 2px #709DCA; 
}
.icon-content:hover{
    -webkit-text-stroke: 2px #f6772c;; 
}

.header-block-icon-cont{
    color: #394b50;    
    font-family: 'Lato Bold';
    font-size: 16px;    
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 13px;
}
.text-icon-block{
    color: #7b7b7b;
    font-family: "Open Sans";
    font-size: 13px;  
    line-height: 22px;
    width: 477px;
}  

 .about-us-title{
    color: #ffffff;
   
 }
 .about-us-text{        
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 24px;
    width: 505px;
    height: 157px;
    margin-top: 28px;
    margin-bottom: 20px;
 }
 .read-more-btn{
    border: 1px solid #e7ad48;
    border-radius:2px;
    text-align: center;
        
    color: #ffffff;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    width: 145px;
    height: 46px;
    margin-top: 36px;
    cursor: pointer;
 }
.padd-read{ 
    margin-top: 16px;
    color: #ffffff;
    
} 

.about-us  {
    height: 623px;
}
.left-block-about-us{
    background: #ffc155 ;
    padding-left: 80px;
    padding-top: 166px;
}
.imgb{
    background-image: url(../img/table.png);
    background-repeat:  no-repeat;
    background-size: cover; 
}
.imgb, .left-block-about-us{
    width:50%;
    min-width:585px;
}


.choos-yours-pricing {
    background-color: #e7edf3;
}
.header-choos{
    padding-top: 138px;
    padding-bottom: 47px;
    margin:0 auto;
    color: #75888d;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
}
.title-choos{
    color: #394b50;
    
}
.text-choos{
    font-family: "Lato Light";
    font-weight: 300; 
}

.panel{
    font-family: "Lato";
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    background-color: #e7edf3;
    width: 390px;
    height: 504px;
}


.main-panel{
    width: 390px;
    height: 444px;
    border: 1px solid #ccd5df;
    background-color: #ffffff;
}
.alt-panel{
    width: 390px;
    height: 30px; 
}

.title-panel{
    margin-top: 56px;
    font-size: 25px;
    line-height: 22px;    
    color: #818b95;
    margin-bottom: 30px;
    font-family: 'Lato Light'
}
.price{ 
    color: #ffbb42;
    font-family: "Lato Bold";
    font-size: 60px;

}
.price>sup{
    vertical-align: super;
    font-size: 33px;
}
.prpr{
    font-family: 'Lato Light';
    font-size: 20px; 
    line-height: 22px;
    margin-bottom: 32px;
    color:#818b95;
}
.panel-text{
    color: #b5bbc1;
    font-size: 14px;
    line-height: 40px;
    width:330px;
    border-top:1px solid #e2e9f0;
    margin: 0 auto;
    font-family: "Lato"
}

.btn-get-started{
    width: 131px;
    height: 42px;
    background-color: #ffbb42;
    text-align: center;
    margin: 0 auto;
    margin-top: 18px;
    cursor: pointer;
    border-radius: 2px;
}
.text-btn{
    color: #ffffff;
    font-size:14px;
    line-height: 10px;
    padding-top: 15px;
    border: 1px solid #ffbb42;   
    border-radius: 1px;    
}

.panel:hover{
    background-color:#709dca;
    color: #ffffff;
}
.panel:hover>.main-panel{
    
    border: 0;
    background-color:#709dca;

}
.panel:hover>.main-panel>.title-panel,
.panel:hover>.main-panel>.price,
.panel:hover>.main-panel>.prpr, 
.panel:hover>.main-panel>.panel-text
{
    color:#ffffff;

}
.jump-panel {
    padding-bottom: 164px;
}


.how-it-work{
    padding-top: 154px;
    padding-bottom: 149px;
}
.how-it-haeding{
    text-align: center;
    margin-bottom: 107px;
}
.title-how-it{
    color: #394b50;
   
}
.how-it-head-title{
    color: #394b50;
    font-family: "Lato Light";
    font-size: 18px;
    line-height: 22px;
}

.steps{
    justify-content: space-around;
    margin-bottom: 94px;
    position: relative;
}
.arrow{
    position: absolute;
    top:-30px;
}
.arrow:nth-child(1){    
    left:220px;
}
.arrow:nth-child(2){   
    right:220px;    
}
.arrow:nth-child(3){ 
    top:70px;
    left:520px;
}
.step-block{
    width: 213px;
    height: 301px;
    text-align: center;
    position: relative;
}

.step-block::after {
    content: "";
    position: absolute;
    width: 128px;
    height: 32px;
    left:190px;
    top: -40px;
    background: url(../img/arrow1.png) no-repeat;
}

.step-block:nth-child(even)::after {
    left: 190px;
    top: 75px;
    transform: rotate(180deg);
}

.step-block:last-child::after {
    display: none;
}
.step-icon{
    font-size: 72px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.icon-link{
    color: #ffffff;
}
.step-title{
    font-size: 20px;
    color: #394b50;
    line-height: 22px;
    text-transform: uppercase;
    font-family: 'Lato Bold';
}
.step-text{
    font-size: 13px;
    line-height: 22px;
    color: #7b7b7b;
    font-family: 'Open Sans';
    margin-top: 30px;
}
.text-btn-step{
    font-family: 'Lato';
    font-size: 14px;
    color: #ffffff;
    padding-top: 15px;
    text-transform: uppercase;
}
.btn-get-started-step{
    text-align: center;
    width:163px;
    height: 44px;
    background-color: #ffbb42;
    border: 1px solid #ffbb42;
    
    cursor: pointer;
    border-radius: 2px;
    margin: 0 auto;  
}

.happy-clients{
    background-color: #ffc155;
    padding-top: 141px;
    padding-bottom: 160px;
    text-align: center;
    color: #ffffff;
}

.header-text-happy-clients{
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 22px;
   
}
.clients-block{
    margin-top: 62px;
    margin-right: -100px;  
}
.happy-client-block{
    width: 537px;
    height: 200px;
    background-color: #ffffff;
    padding-top: 43px;
    padding-left: 30px;
    color: #7b7b7b;
    font-size: 13px;
	font-family: "Open Sans";
    line-height: 22px;
    text-align: left;
    margin-right: 36px;
    margin-bottom: 20px;
}
.comment-client{
    width: 344px;
    margin-left: 31px;
    position: relative;
}
.comment-client::after,
.comment-client::before{
    position: absolute;
    content: "\201C";
    font-family: "BrandonGrotesque Black", Arial, Helvetica, sans-serif;
    font-size: 30px; 
}
.comment-client::before{  
    top: 0;
    left: -17px;	
}
.comment-client::after{    
    bottom: -17px;
    right: -17px;
    transform: scale(-1, 1);
}

.name-client{
    color: #99a9ae;
    font-family: "Lato";
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    padding-left: 31px;
    padding-top: 20px;
}
.alt-name-client{
    color: #f6772c;
}

.newsletter-block{
    padding-top: 154px;
    padding-bottom: 38px;

    color: #394b50;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin: 0 auto;
    text-align: center;
}

.newsletter-text
{
    font-family: "Open Sans Light";
    font-weight: 300;
}
.gray-border{
    border: 1px solid #cbcbcb;
}
.just-cont-cent{
    justify-content: center;
}
.submit-newsletter{
    width: 218px;
    height: 47px;
    border-radius: 2px;
    cursor: pointer;
}
.newsletter-inp{
    height: 45px;
}
/***************/

.map{
    background-image: url('../img/map.png');
    background-size: cover;
    height: 580px;
    margin-top: 53px;
}
.circle_tr{
   margin-left: 443px;
}
.address{
    width: 1170px;
    height: 338px;
       
    background-image: url("../img/Shape_4.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: 40px;
    text-align: center;
    color: #aeb7ba;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 24px;
}
.address-title{
    padding-top: 107px;
    color: #ffffff;
    font-family: "Lato";
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.call-link{
    text-decoration: none;
    color: #aeb7ba;
}
.address-email{
    color: #ffbb42;
    text-decoration: none;
}
.logo-bottom{
    width: 50px;
}

.footer{
    font-size: 30px;
}
.menu-footer {
    width: 808px;
    margin: 0 auto;
    margin-top: 68px;
}
.footer-tel{
    font-family: 'Lato';
    font-size: 22.52px;
    line-height: 24.15px;
    color: #394b50;   
    text-decoration: none;
}
.footer-block-tel{
    width: 181px;
    margin: 22px auto;   
}
.call-icon{
    margin-right: 10px;
}
.footer-icon{   
    color: #709dca;
    font-family: 'FontAwesome-Webfont';
    font-size: 18px;
    line-height: 24.99px;
}
.footer-icon:hover{
    color: #ffc155;
}
.footer-social-icon{
    margin: 0 auto;
    margin-bottom: 52px;
    width: 105px;
}
.copyright{
    height: 50px;
    background-color: #709dca;

}
.copyright-text{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    padding-top: 15px;
}
.copyright-link{
    text-decoration: none;
    color: #ffffff;
}